@import "tailwindcss";

@theme {
  --color-red-650: #E42F2F;
  --color-red-700: #C92121;
  --color-brand-blue: #2B3B7A;
  --color-brand-blue-hover: #1F2D63;
  --color-brand-red: #E42F2F;
  --color-brand-red-hover: #C92121;
  --color-brand-ice: #EBF1F5;
  --color-brand-ice-dark: #D4DFE6;
}
